body {
  background-color: #001D3D;
  color: #000814;
}

.key-container {
  background-color: #ffc300;
  text-align: center;
  padding: 2rem;
  min-width:320px;
}

.container {
  align-items:flex-start;
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  height:100%;overflow:hidden;
}

#random-key {
  font-size: 7rem;
  clear: both;
}

#try-again {
  font-size: .75rem;
}

body, html {
  height: 100%;
  overflow:hidden;
  margin:0;
}
.tiny {
  font-size: 5rem;
  vertical-align: super;
}